@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'ClashGrotesk';
    src: url(./assets/ClashGrotesk.ttf);
  }

  html {
    font-family: ClashGrotesk;
  }
}

@variants responsive {
  .light-shadow {
    box-shadow: 1px 1px 4px rgb(100, 100, 100);
  }

  .dark-shadow {
    box-shadow: 1px 1px 4px rgb(40, 40, 40);
  }

  .bg-modal {
    background-image: radial-gradient(circle, rgba(9, 9, 12, 1) 0%, rgba(12, 12, 15, 1) 75%, rgba(16, 16, 20, 0.95) 100%);
  }

  .bg-inputlabel {
    background-color: rgba(13, 13, 15, 1);
  }

  .text-shadow {
    filter: drop-shadow(0 0 2px #000000);
  }
  .box-shadow{
    box-shadow: 0 0 0.25rem rgb(255, 255, 255, 0.5);
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .thin-scrollbar::-webkit-scrollbar {
    width: 5px;
    background-color: #18181b;
  }

  .thin-scrollbar::-webkit-scrollbar-thumb {
    background-color: #3f3f46;
    border-radius: 5px;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .text-crop {
    overflow-x: auto;
    white-space: nowrap;
  }

  .text-crop::-webkit-scrollbar {
    display: none;
  }

  .text-crop {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .transition-resize{
    transition-property: height, padding;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}