@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'ClashGrotesk';
    src: url(./assets/ClashGrotesk.ttf);
  }

  html {
    font-family: ClashGrotesk;
  }
}

@variants responsive {
  .light-shadow {
    box-shadow: 1px 1px 4px rgb(100, 100, 100);
  }

  .dark-shadow {
    box-shadow: 1px 1px 4px rgb(40, 40, 40);
  }

  .bg-modal {
    background-image: radial-gradient(circle, rgba(35, 35, 37, 0.95) 0%, rgba(39, 39, 42, 0.85) 75%, rgba(45, 45, 50, 0.95) 100%);
  }

  .text-shadow {
    filter: drop-shadow(0 0 2px #000000);
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .thin-scrollbar::-webkit-scrollbar {
    width: 5px;
    background-color: #18181b;
  }
  .thin-scrollbar::-webkit-scrollbar-thumb {
    background-color: #3f3f46;
    border-radius: 5px;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
  }
}